html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f8f8;
  color: #333;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  background-color: #ff1493;
  color: #fff;
  padding: 10px;
  text-align: center;
  width: 100%;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 7px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}

h2 {
  color: #ff1493;
}

form {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

form > div {
  display: flex;
  align-items: center;
}

input,
button {
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  width: 100%;
}

button {
  background-color: #ff1493;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #c71585;
}

#incomplete-books,
#completed-books {
  background-color: #fff;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 50%;
  border: 2px solid #ff1493;
}

#search {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border-radius: 5px;
  border: 2px solid #ff1493;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.book {
  background-color: #f8f8f8;
  margin: 10px;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  width: 90%;
  border: 2px solid #ff1493;
  animation: fadeIn 1s ease-in-out;
}

.book:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

form,
#incomplete-books,
#completed-books,
#search {
  max-width: 600px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  form,
  #incomplete-books,
  #completed-books {
    width: 90%;
  }
}
